.calculator {
    width: 416px;
    height: 520px;
    border: 1px solid black;
    margin: 100px auto 0;
    text-align: center;
    background-color: #f5f9f5;
}
.calculator_row {
    margin: 0	;
    display: flex;
    justify-content: space-between; 
}

.calculator_display {
    margin: 0 5px 1px;
    width: 100%;
    height: 100px;
    border: 2px solid #000;
    padding: 4px 2px;
    text-align: right;
    font: 700 16px/1 Arial, sans-serif;
    color: #000;
    font-family: monospace;
    font-size: 60px;
    background-color: #e2f4e2;
}
#memory {
    font-size: 20px;
}
.calculator_row_display {
    margin: 2px 0;
    display: flex;
    justify-content: space-between; 
}

.calculator_key {
	font-size: 21px;
    width: 104px;
    height: 80px;
    cursor: pointer;
    border: 1px solid #edf5ed;
    transition: all .2s;
    text-transform: uppercase;
}
.key_newcolor {
	background-color: #f5f8f5;
}

.calculator_key:hover {
    background-color: #edf5ed;
    font-weight: 700;
}
